@model IEnumerable<MachineTest1.Models.EmployeeTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Raw(TempData["InsertMessage"])
@Html.Raw(TempData["UpdateMessage"])
@Html.Raw(TempData["DeleteMessage"])

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered">
    <tr style="background-color:lightgray">
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Languages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryTbl.CountryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Languages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryTbl.CountryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmpId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
            </td>
        </tr>
    }

</table>
